# Data Manipulation
pandas
numpy

# Machine Learning & Deep Learning (Cơ bản)
scikit-learn
torch
transformers

# NLP Libraries
spacy
vncorenlp
# pyvi
# underthesea

# Web App / UI
streamlit
watchdog 
graphviz 

# Notebook & Utils
jupyter
matplotlib
seaborn
tqdm